---
layout: layouts/base.vto
title: Event Calendar
url: /calendar/
menu:
  visible: true
  order: 1
  title: Calendar
sitemap:
  visible: true
  order: 3
  title: Calendar
---

{{ include "/_includes/layouts/page_header.vto" }}

<div class="calendar embed-container">
    <iframe class="calendar" src="{{calendar.url}}" width=100% height=100% />
</div>
